<h1>Register A New Account</h1>
<%= render 'shared/errors' %>
<%= form_for :user, url: users_path, :html => {:class => 'new-user-form'} do |f| %>

	Username: <%= f.text_field :username %><br>
	Email: <%= f.text_field :email %><br>
	Password: <%= f.password_field :password %><br>
	<%= f.submit "Submit" %>
<% end %>